.error-boundary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 24vh;
}

.error-boundary:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: '';
    width: 60vw;
    height: 60vw;
    background: radial-gradient(circle, rgba(0,130,121,1) 0%, rgba(0,168,189,1) 0%, rgba(0,168,189,0) 64%, rgba(0,168,189,0) 100%);
    transform: translate(-50%, -50%);
    opacity: .8;
    pointer-events: none;
}

.error-boundary__title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 80px;
}

.error-boundary__secondary-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.error-boundary__error-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.error-boundary__subtitle {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.error-boundary__details {
    width: 100%;
}

.error-boundary__code {
    white-space: pre-wrap;
}
