@font-face {
    font-family: 'Inter Regular';
    src: url('../../../../../../public/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../../../../../../public/assets/fonts/Inter-Medium.ttf');
}