$title-main-color: #000000;
$title-secondary-color: #999;
$window-background-color: #FFFFFF;
$button-main-color: #3369F3;
$link-main-color: $button-main-color;
$error-color: #FF0000;
$link-secondary-color: $error-color;
$border-main-color: $button-main-color;
$border-secondary-color: #EAEAEA;
