$title-main-color: black;
$title-secondary-color: #999;
$window-background-color: #FFF;
$button-main-color: #3369F3;
$link-main-color: $button-main-color;
$error-color: red;
$link-secondary-color: $error-color;
$border-main-color: $button-main-color;
$border-secondary-color: #EAEAEA;
