.post {
    display: flex;
    gap: 40px;
    min-height: 180px;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);;
}

.post__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & > svg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}

.post__text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
}

.post__text {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    flex-grow: 1;
    width: 100%;
}

.post__post-time {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: 100%;
    font-size: 14px;
    color: var(--secondary-color);
}
