@import './src/styles/mixins';

.login__window {
    width: 375px;
    margin: 0 auto;
    padding: 40px 0;

    .login__container {
        background: var(--white-color);
        box-shadow: 0 0 6px rgba(0, 0, 0, 14%);
        border-radius: 12px;
        padding: 40px 30px;

        .login__title {
            @include make-label(var(--main-color), 24px, 500);

            text-align: center;
        }

        .field {
            position: relative;
            padding: 15px 0;

            &__title {
                position: absolute;
                left: 0;
                top: 48%;
                font-size: 15px;
                font-weight: 400;
                pointer-events: none;
                transform: translateY(-50%);
                transition: all 0.25s ease;
            }

            & .error-message {
                top: 50%;
                transform: translateY(-50%);
                bottom: unset;
            }

            &__input {
                height: 32px;

                &:focus + label,
                &:valid + label {
                    top: 14%;
                    font-size: 12px;
                }
            }
        }
    }
}

.login__oauth {
    display: flex;
    justify-content: center;

    &-link {
        display: block;
        width: 165px;
        transition: opacity 0.25s ease;

        &:hover {
            opacity: 0.5;
        }
    }
}
