.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 1fr 114px;
    padding-top: 40px;
}

:global(.theme--light) {
    --bg-color: #E4E5E1;
    --bg-contrast-color: #E7E8E4;
    --text-color: #262626;
    --tex-description: #7D7E80;
    --box-shadow: 0px 0px 15px 0px #0D1F231A;
    --bg-action: linear-gradient(90deg, #02B4FF 0%, #2049F1 109.43%);

}

:global(.theme--dark) {
    --bg-color: #262626;
    --bg-contrast-color: #3C3C3C;
    --text-color: #E4E5E1;
    --tex-description: #7D7E80;
    --box-shadow: 0px 0px 15px 0px #0D1F231A;
    --bg-action: linear-gradient(90deg, #0064FF 0%, #1227C0 109.43%);
}

:global(#root) {
    display: flex;
    height: 100vh;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter Regular', sans-serif;
}

.button {
    position: fixed;
    right: 85px;
    top: 121px;
    width: 30px;
    height: 30px;
}

.mainBg {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: 'Inter Medium', sans-serif;
    font-size: 79px;
    line-height: 79px;
    letter-spacing: -3.95px;
}

h2 {
    font-family: 'Inter Medium', sans-serif;
    font-size: 58px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: -1.16px;
}
