@font-face {
    font-family: 'Inter Regular';
    src: local('../../../public/assets/fonts/Inter-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter Medium';
    src: local('../../../public/assets/fonts/Inter-Medium.ttf');
    font-display: swap;
}