@font-face {
    font-family: 'Inter';
    src: local('../../../public/assets/fonts/Inter-Regular.ttf'),
            url('https://fonts.googleapis.com/css?family=Inter');
    font-display: swap;
}

@font-face {
    font-family: 'Inter Medium';
    src: local('../../../public/assets/fonts/Inter-Medium.ttf'),
            url('https://fonts.googleapis.com/css?family=Inter');
    font-display: swap;
}