@import 'mixins';
@import 'normalize';

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    margin-bottom: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    max-width: 100vw;

    @include make-flex-box-container(row, center, center);
}
