:root {
    --accent-color: #00a8bd;
    --white-color: #FFF;
    --black-color: #000;
    --main-color: #1E1E1E;
    --secondary-color: #999;
    --secondary-bg-color: #9999992E;
    --secondary-border-color: #EAEAEA;
    --error-color: #FF2F2F;
}
