:root {
    --accent-color: #00a8bd;
    --white-color: #FFF;
    --black-color: #000;
    --main-color: #1E1E1E;
    --secondary-white-color: #f7f7f7;
    --secondary-color: #999;
    --secondary-bg-color: #9999992E;
    --secondary-border-color: #EAEAEA;
    --border-color: #f0f0f0;
    --thumb-color: #ebebeb;
    --error-color: #FF2F2F;
    --black-light-color: #444;
}
