@import './src/styles/mixins';

.settings__window {
    min-width: 375px;
    width: 800px;
    margin: 0 auto;
    background: var(--white-color);
    padding: 40px 30px;

    .to-game {
        @include make-circle(40px, var(--accent-color));
        @include make-label(white, 16px, 400);
        @include make-hover-effect(none);

        margin-left: 10px;
        border: none;
        transform: rotate(180deg);
    }

    .settings__container {
        margin: 40px 30px;

        &-avatar {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border: 1px solid #E6E6E6;
            margin-bottom: 15px;
            cursor: pointer;

            &:before {
                content: 'Сменить фото';
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 50%);
                opacity: 0;
                transition: opacity 0.25s ease;
            }

            &:hover:before {
                opacity: 1;
            }

            & .button-loading {
                width: 25%;
            }
        }

        @include make-flex-box-container(column, center, center);

        .settings__photo {
            width: 100%;
            height: 100%;
        }

        .settings__title {
            font-size: 21px;
        }

        .form-info {
            @include make-flex-box-container(column, center, center);

            width: 100%;

            .fields__container {
                width: 100%;

                @include make-flex-box-container(column);

                .field {
                    @include make-flex-box-container(row, space-between, center);

                    flex-flow: row-reverse;
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: var(--secondary-border-color) 1px solid;
                    position: relative;

                    .field__title,
                    .text-row__label {
                        @include make-label(var(--black-color), 16px, 400);
                    }

                    .field__input,
                    .text-row__value {
                        // padding-bottom: 10px;

                        @include make-label(var(--secondary-color), 16px);
                    }

                    .field__input {
                        @include make-input(var(--secondary-color), inherit, 16px, 400, inherit);

                        text-align: right;
                        flex: 1;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    .invalid {
                        border-bottom: var(--error-color) 2px solid;
                    }

                    .error-message {
                        position: absolute;
                        bottom: -20px;
                        right: 0;

                        @include make-label(var(--error-color), 12px, 400);
                    }
                }
            }

            .form-buttons__container {
                width: 100%;

                .form-links {
                    @include make-flex-box-container(column, center, flex-start);

                    .alt-url {
                        cursor: pointer;
                        margin-bottom: 15px;
                        user-select: none;
                        transition: opacity 0.25s ease;

                        &:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                            color: var(--error-color);
                        }

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                .form-buttons {
                    @include make-flex-box-container(column, center, center);
                }
            }
        }
    }
}
