.modal-window {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    max-width: 90vw;
    max-height: 90vh;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.25);
}

.modal-window__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.25);
}

.modal-window__close-button {
    align-self: flex-end;
    width: 16px;
    height: 16px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;

    & > svg {
        width: 16px;
        height: 16px;
        color: var(--main-color);
    }
}
