.topic-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
}

.topic-page__topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: var(--accent-color);
}

.topic-page__topic-title {
    width: 80%;
    font-size: 18px;
    line-height: 18px;
    text-overflow: ellipsis;
    color: var(--white-font);
}

.topic-page__new-message-button {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 15px;
    color: var(--accent-color);
    background-color: var(--white-bg);
    border: 1px solid var(--white-color);

    &:hover {
        opacity: 0.7;
        transition: opacity ease-out 0.5s;
    }
}

.topic-page__page-title {
    display: block;
    margin: 40px 0;
    text-align: center;
    font-size: 32px;
    line-height: 34px;
}

.topic-page__posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
