@import 'styles/variables';
@import 'styles/reset';
@import 'styles/custom';
@import 'styles/fonts';

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
    overflow-x: hidden;
    background-color: #FEFEFE;
}

#root {
    width: 100vw;
    height: 100vh;
}
