@use 'styles/variables';
@use 'styles/fonts';
@use 'styles/reset';
@use 'styles/custom';

body {
    font-family: 'Inter medium', sans-serif;
    color: var(--main-color);
}

#root {
    width: 100vw;
    height: 100vh;
}
