@import "./styles/fonts";
@import "./styles/colors";
@import "./styles/reset";
@import "./styles/custom";

#root {
    --accent-color: #{$accent-color};
    --white-color: #{$white-color};
    --black-color: #{$black-color};
    --main-color: #{$main-color};
    --secondary-color: #{$secondary-color};
    --error-color: #{$error-color};

    font-family: "Inter medium", sans-serif;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}
