.forum {
    &__logo {
        width: 100%;
        border-radius: 20px;
        display: block;
        opacity: .6;
        margin-bottom: 60px;
    }

    &__head {
        background-color: var(--accent-color);
        color: var(--white-color);
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            padding: 20px;
        }
    }

    &__topic {
        background-color: var(--secondary-bg-color);
    }
}

.head {
    margin-bottom: 20px;
    &__theme {
        width: 60%;
    }

    &__messages {
        text-align: center;
        width: 10%;
    }

    &__last-message {
        text-align: center;
        width: 30%;
    }
}

.topic {
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__message-preview {
        color: var(--secondary-color);
    }

    &__wrapper {
        width: 60%;
    }

    &__messages-count {
        text-align: center;
        width: 10%;
    }

    &__last-message {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 30%;
    }
}
