.forum {
    &__logo {
        width: 100%;
        border-radius: 20px;
        display: block;
        opacity: 0.6;
        margin-bottom: 60px;
    }

    &__head {
        background-color: var(--accent-color);
        color: var(--white-color);
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            padding: 20px;
        }
    }

    &__topics-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__no-topics {
        margin: 60px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: var(--secondary-color);
    }

    &__add-topic-button {
        padding: 10px 25px;
        font-size: 16px;
        border-radius: 15px;
        border: none;
        box-sizing: border-box;
        color: var(--white-color);
        background-color: var(--accent-color);

        &:hover {
            color: var(--accent-color);
            background-color: var(--white-color);
            border: 1px solid var(--accent-color);
        }
    }
}

.head {
    margin-bottom: 20px;

    &__theme {
        width: 60%;
    }

    &__messages {
        text-align: center;
        width: 10%;
    }

    &__last-message {
        text-align: center;
        width: 30%;
    }
}
