.forum {
    &__logo {
        width: 100%;
        border-radius: 20px;
        display: block;
        opacity: 0.6;
        margin-bottom: 60px;
    }

    &__head {
        background-color: var(--accent-color);
        color: var(--white-color);
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            padding: 20px;
        }
    }

    &__topics-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.head {
    margin-bottom: 20px;

    &__theme {
        width: 60%;
    }

    &__messages {
        text-align: center;
        width: 10%;
    }

    &__last-message {
        text-align: center;
        width: 30%;
    }
}
